
li{
    list-style-type: none;
}

.box{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 20px;
}
.btn-more{
    border: none;
    border-radius: 5px;
    background-color: rgba(0, 183, 255, 0.781);
    padding:10px 20px;
}