.form{
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

select,input,option{
    padding: 10px 20px;
    border-radius: 10px;
border: 2px solid black;
margin-bottom: 20px;
}