
.dark_mode{
    background-color: black;
    color:  gray;
}
.mode{
    color: gray;
}
.list{
    width: 260px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 5px;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-top: 40px;
    position: relative;
    img{
        position: static;
        width: 100%;
        max-height: 200px;
    }
}
.card-body{
    text-align: left;
    padding: 10px 25px;

}